.footer {
  box-sizing: border-box;
  color: white;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 102px 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 152px;
  height: 32px;
  margin-bottom: 80px;
}

.footer__list {
  margin: 0;
  padding: 0;
}

.footer__list-item {
  list-style: none;
  margin-top: 16px;
}

.footer__social-heading {
  margin: 0 0 20px;
  text-align: right;
  font-weight: bold;
}

.footer__social-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer__social-link:hover {
  color: #c1c1c1;
  transition: color 0.3s linear;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
