.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 100px 0 120px;
 }

.reservation__title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  margin: 0 0 80px;
}

.reservation__fieldset {
   padding: 0;
}

 .form__fieldset {
   display: flex;
   flex-direction: column;
   margin: auto;
   max-width: 385px;
   border: 0;
 }

  .form__label {
    margin: 0 0 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

 .form__input {
   border-radius: 4px;
   margin: 0 0 32px;
   min-height: 60px;
 }

 .form__button {
   border-radius: 4px;
   margin: 0 0 32px;
   min-height: 60px;
   background-color:#2f80ed;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #ffffff;
  }

.form__button:hover {
   opacity: .7;
   transition: opacity 1s ease-in-out;
 }

 .form__input::placeholder {
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 30px;
   color: #838383;
}

.form__checkbox-contents {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
 }

.form__label[for="agree-terms"] {

}
