.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: #ffffff;
}

.menu__title {
  margin: auto;
  max-width: 780px;
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.menu__subtitle {
  display: flex;
  margin: auto;
  max-width: 780px;
  padding: 0 0 100px;
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
