.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: #ffffff;
}

.menu__title {
  margin: auto;
  max-width: 780px;
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.menu__subtitle {
  display: flex;
  margin: auto;
  max-width: 780px;
  padding: 0 0 100px;
  font-family: "Noto Serif", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: row; */
  margin: auto;
  list-style: none;
}

.card {
  box-sizing: border-box;
  max-width: 600px;
  width: calc(50% -50px);
  box-sizing: border-box;
}

.card__content {
  list-style: none;
  padding: 0;
}

.card__title {
  margin-bottom: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  display: block;
  overflow: hidden;
  font-family: "Noto Serif", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.card__list-divider {
  border-bottom: 1px solid #ffffff;
  /* width: 100%; */
  line-height: 0.1em;
  margin: 10px 0 20px;
}
